<% if @cart.contents.empty? %>
  <p>Your cart is empty</p>
<% else %>
  Total: <%= number_to_currency(@cart.grand_total) %>

  <%= button_to "Empty cart", cart_empty_path, method: :delete %>

  <% if current_user && current_user.any_active_addresses? %>
    <div class="default-address">
      <h3>Default Address: <%= current_user.primary_address.nickname %></h3>
      <% if current_user.primary_address.shipping_address %>
        <h4>This is your shipping address </h4>
      <% else %>
        <%= button_to "Make This My Shipping Address", toggle_shipping_profile_addresses_path(current_user.primary_address) %>
      <% end %>
      <h4>Street Address: <%= current_user.primary_address.address %></h4>
      <h4>City, State Zip:<%= current_user.primary_address.city %>,<%= current_user.primary_address.state %><%= current_user.primary_address.zip %></h4>
    </div>
      <% current_user.non_primary_addresses.each do |full_address| %>
      <div class="secondary-addresses-<%=full_address.id%>">
      <h3>Default Address: <%= full_address.nickname %></h3>
      <% if full_address.shipping_address %>
        <h4>This is your shipping address </h4>
      <% else %>
        <%= button_to "Make This My Shipping Address", toggle_shipping_profile_addresses_path(full_address) %>
      <% end %>
      <h4>Street Address: <%= full_address.address %></h4>
      <h4>City, State Zip:<%= full_address.city %>,<%= full_address.state %><%= full_address.zip %></h4>
      <% end %>
    </div>
      <%= button_to 'Check out', profile_orders_path %>
  <% elsif current_user && !current_user.any_active_addresses?%>
    <h1>"You Must Enable an Address at Your Profile to Checkout"</h1>
  <% else %>
    You must
    <%= link_to 'register', registration_path %>
    or
    <%= link_to 'log in', login_path %>
    to check out.
  <% end %>

  <% @items.each do |item| %>
    <%= tag.div id: "item-#{item.id}" do %>
      <%= render partial: "cart_item", locals: {item: item, img_width: 150} %>
    <% end %>
  <% end %>
<% end %>
