<h2>Profile Page for <%= @user.name %></h2>
<%= tag.div class: 'profile' do %>
  <p><%= @user.email %></p>
  <%= tag.div id: 'address' do %>
    <div class="default-address">
      This is your default address
      <%= @user.primary_address.nickname %>
      <%= @user.primary_address.address %>
      <%= @user.primary_address.city %>, <%= @user.primary_address.state %> <%= @user.primary_address.zip %>
      <%= link_to 'Edit This Address', edit_profile_addresses_path(@user.primary_address)%>
      <% if @user.primary_address.enabled %>
      <%= button_to "Disable This Address", toggle_active_profile_addresses_path(@user.primary_address)%>
      <% else %>
      <%= button_to "Enable This Address", toggle_active_profile_addresses_path(@user.primary_address) %>
      <% end %>
    </div>
    <% @user.non_primary_addresses.each do |full_address| %>
    <div class= "address-<%= full_address.id %>">
      <%= full_address.nickname %>
      <%= full_address.address %>
      <%= full_address.city %>, <%= full_address.state %> <%= full_address.zip %>
      <%= link_to 'Edit This Address', edit_profile_addresses_path(full_address)%>
      <% if full_address.enabled %>
      <%= button_to "Disable This Address", toggle_active_profile_addresses_path(full_address) %>
      <% else %>
      <%= button_to "Enable This Address", toggle_active_profile_addresses_path(full_address) %>
      <% end %>
      <%= button_to "Make This My Default Address", toggle_default_profile_addresses_path(full_address) %>
    </div>
    <% end %>
  <% end %>

  <% if @user == current_user %>
    <%= link_to 'Add New Address', new_profile_addresses_path(@user) %>
  <% end %>

  <% if @user == current_user %>
  <%= link_to 'Edit Profile', profile_edit_path %>
  <% elsif current_admin? %>
  <%= link_to 'Edit Profile', edit_admin_user_path(@user) %>
  <% end %>
<% end %>

<% if @user == current_user %>
<%= link_to 'My Orders', profile_orders_path %>
<% elsif current_admin? %>
<%= link_to 'My Orders', admin_user_orders_path(@user) %>
<% end %>
