<h2>Profile Page for <%= @user.name %></h2>
<%= tag.div class: 'profile' do %>
  <p><%= @user.email %></p>
  <%= tag.div id: 'address' do %>
    <% @user.addresses.each do |full_address| %>
    <div class= "address-<%= full_address.id %>">
      <% if full_address.default_address %>
      This is your default address
      <% end %>
      <%= full_address.nickname %>
      <%= full_address.address %>
      <%= full_address.city %>, <%= full_address.state %> <%= full_address.zip %>
    </div>
    <% end %>
  <% end %>

  <% if @user == current_user %>
  <%= link_to 'Edit Profile', profile_edit_path %>
  <% elsif current_admin? %>
  <%= link_to 'Edit Profile', edit_admin_user_path(@user) %>
  <% end %>
<% end %>

<% if @user == current_user %>
<%= link_to 'My Orders', profile_orders_path %>
<% elsif current_admin? %>
<%= link_to 'My Orders', admin_user_orders_path(@user) %>
<% end %>
